/*selector universal*/
* {
  background-color: rgb(231, 195, 255);
}
/*selector de etiquta*/
h1 {
  background-color: rgb(86, 193, 255);
}
footer {
  margin: ;
  padding: ;
  border-color: rgba(35, 255, 182, 0.671);
  border: width 10px;
  border-style: solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/*selector de clase*/
p.fondorosa {
  background-color: rgb(255, 147, 213);
}
/*selector id*/
p#fondorojounico {
  background-color: rgb(255, 27, 27);
}
/*selectoes descendientes*/
footer p {
  color: rgb(255, 123, 0);
}
