img.atardecer{
    width: 10xp;
    height: 10xp;
    vertical-align: top;
}
p{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
font-style: italic;

}
 span.clase1{
    text-decoration:underline
 }